body {
    margin:0;
    padding:0;
}
section{
    width:100vw;
    height:100vh;
    background-color:aqua;
    display:flex;
    justify-content:center;
    align-items:center;
}
.sec2{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.sec2 .container{
    width:45vw;
    height:66vh;
}
.content h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left:7vw;
}
.content input[type=text]{
    height:30px;
    width:400px;
    border:1px solid;
    margin-top:2.5vh;
    margin-left:4vw;
    border-radius:20px;
}
.content input[type=submit]{
    color:white;
    margin-left: 4vw;
    margin-top:2vh;
    padding-bottom:10px;
    padding-top:10px;
    padding-left:15px;
    padding-right:15px;
    border-radius:6px;
    border:1px solid;
    background-color:black;
}
.content input[placeholder]{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left:1vw;
    font-size:13px;
}
.resultados{
    height: 30px;
    margin-top: 10vh;
    margin-left: 4vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
}